.button__container {
    display: flex;
    align-items: center;
    padding-left: 13px;
    
    &.level_1 {
        padding-left: 26px; 
    }

    &.level_2 {
        padding-left: 39px; 
    }

    &.level_3 {
        padding-left: 52px; 
    }
}

.input__container{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 12px;

    input{
        width: 100%;
        padding: 10px;
        background-color: #202124;
        border: 1px solid #414144;
        border-radius: 6px;
        color: #71717A;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
    }
}