.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 234px auto;
    grid-template-rows: 44px auto;
    .header__container{
        grid-column: span 2;
    }
}