.navbar__container {
    z-index: 3;
    width: 234px;
    background-color: #27272A;
    border: 1px solid #414144;

    .navbar__title {
        display: flex;
        padding: 0 10px 0 20px;
        height: 44px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #414144;

        .title__info {
            color: #A1A1AA;
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;

            p {
                margin: 0;

                &.abbreviation {
                    font-size: 10px;
                }
            }

        }
    }

    .navbar__content {
        .content__item{
            padding: 0 10px 0 20px;
            display: flex;
            height: 32px;
            align-items: center;
            
            &.active{
                background-color: #A1A1AA;
            }

            .item__name{
                cursor: pointer;
                margin: 0;
                margin-left: 14px;
                color: #FFFFFF;
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
            }
        }
    }
}